 html,body{
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
    }

        header{
            box-sizing: border-box;
            height: 50px;
            display:flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 16px;
            border-bottom: 2px solid #e0e0e0;
            position: fixed;
            width: 100%;
        }

        .logo{  
            height: 50px;
        }

        .header-action{
            height: 25px; 
        }
        .header-buttons{
            /* margin: 30px; */
            display: flex;
            width: 60px;
            justify-content: space-between;

        }
        .status-container{
            box-sizing: border-box;
            padding-top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
            height: 180px;
            overflow-x: auto;   
            border-bottom: 2px solid #e0e0e0;

        }

        .status-container::-webkit-scrollbar{
            display: none;
        }

        .s-1{
            box-sizing: border-box;
           padding: 16px;
           border-bottom: 2px solid #e0e0e0;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;  
        }
        
        #profile-pic{
            
            height: 70px;
            width:  70px;
            border-radius: 50%;
            border: 2px solid #e75252;
            padding: 2px;
        }
        .username{
            padding-top: 5px;
            font-family: sans-serif;
        }
        footer{
            box-sizing: border-box;
            height: 50px;
            display:flex;
            align-items: center;
            justify-content: space-around;
            padding: 0px 16px;
            border-top: 1px solid #e0e0e0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .footer-action{
            height: 30px;
            width: 30px;
        }

        #user {
        
          border-radius: 50%;
        }

        .post-header{
            padding: 20px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid #e0e0e0;
        }
        .user-status{
            display: flex;
            align-items: center;
        }
        .status-text{
            padding-left: 10px;
         
        }
        .post-name{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: bold;
        }

        #status-post{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        #dot-3{
           width: 40px;
        }


        #post-fisrt{
           
            padding-bottom: 50px;
            /* width: 300px; */
            height: 361px;
        }
        .post{
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
        }
       